// ====== variables ====== //

// ------ color ------ // 

$color-primary: #7477bf;
$color-text: #686868;
$color-main: #fff;
$complement: #4d4c72;
$color-primary-light: #e2e3f6;
$color-hover: #81c98f;
$color-alert: #ff0000;
$color-dashboard: #fbfbfb; 
$color-border: #e5e1e1;

// ------ sizes ------ // 

$bradius: 20px;

// ------ typography ------ // 

$basefont: 'David Libre', Roboto;
$baseweight: 300;
$basewidth: 100%;

// ------ media ------ // 

$breakpoint-small: 765px;
$breakpoint-medium: 766px;
$breakpoint-large: 1015px;