// ====== variables ====== //

// ------ color ------ // 

$color-primary: #f9b233;
$color-text: #fff;
$color-main: #bbcfd9;
$complement: #6b33f9;


// ------ sizes ------ // 

$bradius: 20px;

// ------ typography ------ // 

$basefont: 'David Libre', Roboto;
$baseweight: 300;
$basewidth: 100%;

// ------ media ------ // 

$breakpoint-small: 765px;
$breakpoint-medium: 766px;
$breakpoint-large: 1015px;