/* ============================================= */
/*              Images                           */
/* ============================================= */

.imgProfile {
  border-radius: 50%;
	width: 35%;
  cursor: pointer;
}

.navImg {
  margin-top: 2%;
  margin-left: 3%;
	width: 3%;
	height: 3%;
	fill: $color-main;
}