/* ============================================= */
/*              Images                           */
/* ============================================= */

.imgProfile {
  border-radius: 50%;
  width: 30%;
  cursor: pointer;
}

.navImg {
  margin-top: 100%;
  fill: $color-main;
  
  &:hover {
    cursor: pointer;
    transform: scale(1.5);
  }
}


.profile-image {
  border-radius: 50%;
  width: 10%;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}