/* ============================================= */
/*                   Body                        */
/* ============================================= */

// ---- Mobile first approach 320px

body {
    grid-area: body;
    display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto;
    
    grid-template-areas:
    'header'
    'navagation'
    'main'
    'footer';
}

header {
	grid-area: header;
	display: grid;
	grid-template-columns: 2fr auto 1fr auto;
	grid-template-rows: auto;
	background: $color-primary;
	color: $color-main;
}

.appTitle {
    color: $color-main;
    margin: .5em .2em;
    align-self: center;
    font-size: 1em;
}

.profile-img {
    display: flex;
    justify-content: center;
    margin-right: 4px;
  }

  .imgProfile {
    display: none;
  }

.profileName {
    align-self: center;
    color: $color-main;
    font-size: 1em;
}

main {
    grid-area: main;
    display: grid;
}

.widget-container-full {
    width: 95vw;
}

.widget-container-half {
    width: 95vw;
}

h3 {
    margin-left: 2vw;
}

a {
    color: $color-primary;
}

.recentActivity,
.membersWrap,
.newMembers,
.socialWrap,
.traffic 
 {
    width: 320px;
}

footer {
    grid-area: footer;
    display: grid;
    margin-top: 10px;
}

// --- bell --- // 

.bell {
    align-self: center;
    height: 40px;
    width: 26px;
    
    &:hover{
        cursor: pointer;
    }
}

.bellIcon {
    height: 40px;
    width: 26px;
    position: relative;
}

.notification-bell {
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $color-hover;
    position: absolute;
    left: 210px;
    top: 12px;

    &:hover {
        background-color: $color-main;
        transition: 1s ease-in;
    }
}

.notificationMessages {
    cursor: initial;
    display: block;
    width: 300px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
    top: 53px;
    right: -88px;
    font-weight: bold;
    font-size: 17px;


    & li {
        display: flex;
        justify-content: space-between;
        background: $color-dashboard;
        border: 3px solid $color-hover;
        border-radius: 4px;
        margin-top: 5px;

        &:hover {
            background: $color-primary-light;
        }
    }
}

.deleteNotification {
    cursor: pointer;
    margin-right: 10px;

    &:hover {
        color: $color-alert;
    }
}

// Animation

@keyframes sideToSide {
    10% {transform: rotate(-18deg);}
    20% {transform: rotate(-38deg);}
    90% {transform: rotate(30deg);}
    100% {transform: rotate(0);}
}

.bellIcon:hover {
    animation: sideToSide .8s ease-in-out;
}


/* ============================================= */
/*                    NAV                        */
/* ============================================= */

nav {
    grid-area: navagation;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 55px;
    align-items: center;
    justify-items: center;
    background-color: $complement;

    a {
        margin-bottom: 4vw;
    }

    a.active {
        position: relative;
        &:before {
           height: 100%;
           width: 3px;
           background-color: $color-hover;
           display: block;
           content: ""; /* isso aqui é padrão de todo pseudo-elemento ter para funcionar */
           left: 0;
           top: 0;
           bottom: 0;
           position: absolute; /* a posição vai ser absoluta em relação ao item da lista */
        }
     }

}
.navImg {
    width: 25px;
    height: 25px;
}

/* ============================================= */
/*              Dashboard/Search                 */
/* ============================================= */


.dashSearch {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    'dashboard search';
    align-items: center;
    margin-bottom: 10px;
    width: 320px;
}

.dashboard {
    grid-area: dashboard;
    margin-right: 5vw;
    margin-left: 2vw;
    font-size: 1em;
}
.dashboardSearch{
    grid-area: search;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: end;
    background-color: $color-dashboard;
    display: flex;
    border-left: solid 1px $color-border;
    border-bottom: solid 1px $color-border;

    input[type='search'] {
        margin-left: auto;
        width: 70%;
        height: 50%;
        align-self: center;
    }
}

.searchBar1 {
    border-radius: 4px;
    &:hover {
        color: $color-primary;
        border-width: 3px;
        color: $color-primary;
    }    
}

.searchBar {
    width: 40%;
    align-self: center;
    flex: 1;
    margin-left: 5vw;
    border-radius: 3px;
    border-top: 1px;

    &:hover {
        color: $color-primary;
        border-width: 90px;
        transition: background-color .5s;
    }
}

.searchBar::after {
    
    content: "\f002";
    display: inline-block;
    
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    font-style: normal;
    font-variant: normal;
    font-size: .55em;

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

    position: absolute;
    right: 63px;
    top: 124px;
}

/* ============================================= */
/*                 Alert Banner                  */
/* ============================================= */

.alert-banner {
    margin-top: 2vw;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 320px;
    border: solid 1px $color-switchbtn;
    border-radius: 10px;
    display: flex;
    background-color: $color-primary;
}

.alert-banner-text {
    margin: 6px 15px 6px 15px;
    color: $color-main;
    align-self: center;
    flex: 1;
}

.alert-banner-close {
    margin-right: 2vw;
    color: $color-main;

    &:hover{
        cursor: pointer;
        color: $color-alert;
    }
}

.alertB {
    color: $color-main;
}
/* ============================================= */
/*                    Traffic                    */
/* ============================================= */

.trafficNav {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    margin-bottom: 2%;
    font-size: .8em;
}

.trafficNav-link {
    margin-right: 15px;
    margin-left: 15px;

    &:hover {
        background-color: $color-hover;
        color: $color-main;
        border-radius: 15%;
        cursor: pointer;
    }

}

/* ============================================= */
/*                 Social Stats                  */
/* ============================================= */

.socialWrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.social-container {
    cursor: pointer;
    display: flex;
    flex-basis: 248px;
    justify-content: space-around;
    align-items: center;
    background-color: $color-dashboard;;
    margin: 10px;
    border: solid 1px $color-border;
    border-radius: 4px;
}

.social-text {
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    p:first-child {
        color: $color-primary;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 0;
        font-size: .89em;
    }
    p:last-child {
        font-size: 2.7em;
        margin-top: 0;
        margin-bottom: 0;
        // font-weight: lighter;
    }
}
/* ============================================= */
/*                    Members                    */
/* ============================================= */

.members-container,
.activity-container {
    display: flex;
    align-items: center;
}

.names,
.activity-text,
.members-text {
    margin-bottom: 0;
}

.members-text,
.activity-text {
    flex-grow: 2;
}

.activity-container:hover {
    cursor: pointer;
    background-color: $color-primary-light;
}


.pMember {
    margin: 0;
}

.newMembers {
    border: solid 1px $color-border;
}

.activityDate {
    font-size: .85em;

}

.membersWrap {
    padding-bottom: 30px;
}

/* ============================================= */
/*               MESSAGE USER                    */
/* ============================================= */

input[id='userField'],
textarea[id='messageField'] {
    width: 100%;
    margin: 5px 0;
    background-color: $color-dashboard;
    border-radius: 4px;

    &:hover {
        color: $color-primary;
        border-width: .25em;
        transition: background-color .5s;
    }
}

input[id='userField']{
    padding: 9px;
}

textarea[id='messageField'] {
    height: 100px;
    margin-bottom: 15px;
}

.widget-container {
    width: 75%;
    margin-left: 10vw;
}

.messageUser{
    border-right: solid 1px $color-border;
}

/* ============================================= */
/*                  AUTOCOMPLETE                 */
/* ============================================= */

// Source for the code: https://www.codeproject.com/articles/667391/jquery-autocomplete-custom-styling //

.ui-corner-all
{
    -moz-border-radius: 4px 4px 4px 4px;
}
.ui-widget-content
{
    border: 2px solid $color-border;
    color: $complement;
    background-color:$color-dashboard
}
.ui-widget
{
    font-family: $basefont;
    font-size: 15px;
}
.ui-menu
{
    display: block;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 2px;
}
.ui-autocomplete
{
    cursor: pointer;
    position: absolute;
}

.ui-menu-item:hover{
    background-color: $color-primary-light;
    color: $color-dashboard;
}
/* ============================================= */
/*                  SETTINGS                     */
/* ============================================= */

// Switch Buttons

.settings {
    width: 90%;
}

.settingBlock {
    height: 300px;
    flex: 1;
    display: flex;
}



.notifications {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.notifications label {
    width: 106px;
    margin-bottom: 10px;
}

// TimeZone
select[id='timezone'] {
    width: 85%;
    margin-left: 10vw;


    &:hover {
        cursor: pointer;
    }
  }

/* ============================================= */
/*                    BUTTONS                    */
/* ============================================= */

button[id='btn'],
button[id='btnSave'],
button[id='btnCancel']{
    padding: 5px 0;
    color: $color-main;
    border: none;
    border-radius: 4px;

    &:hover {
        cursor: pointer;
        color: $color-primary-light;
    }
}


.send {
    background-color: $color-primary;
    width: 100%;
}
  .settings-button {
    margin-left: 10vw;
 } 

.saveBtn {
    width: 40%;
    margin-top: 10px;
    background-color: $color-primary;
}
.cancelBtn {
    width: 40%;
    margin-top: 10px;
    background-color: $color-switchbtn;
}

select {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-image: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 6px;
    border: 1px solid $color-switchbtn;
    border-radius: 4px;
    margin-right: 2rem;
    padding: 0.5rem;
    padding-right: 0.5rem;
    padding-right: 2rem;
}
