/* ============================================= */
/*                   Body                        */
/* ============================================= */

body {
    grid-area: body;
    display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto;
    
    grid-template-areas:
    'header'
    'navagation'
    'main';
}

header {
	grid-area: header;
	display: grid;
	grid-template-columns: 2fr auto 1fr;
	grid-template-rows: auto;
	background: $color-primary;
	color: $color-main;
}

.appTitle {
    color: $color-main;
    margin: .5em .2em;
}

.profile-img {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
  }

  .imgProfile {
    display: none;
  }

.profileName {
    align-self: center;
    margin-left: 5%;
    color: $color-main;
}


main {
    grid-area: main;
    display: grid;
    margin-left: 21px;
}

.widget-container-full {
    width: 90vw;
}

.widget-container-half {
    width: 90vw;
}

/* ============================================= */
/*                    NAV                        */
/* ============================================= */

nav {
    grid-area: navagation;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 55px;
    align-items: center;
    justify-items: center;
    background-color: $complement;

    a {
        margin-bottom: 4vw;
    }

    a.active {
        position: relative;
        &:before {
           height: 100%;
           width: 3px;
           background-color: $color-hover;
           display: block;
           content: ""; /* isso aqui é padrão de todo pseudo-elemento ter para funcionar */
           left: 0;
           top: 0;
           bottom: 0;
           position: absolute; /* a posição vai ser absoluta em relação ao item da lista */
        }
     }

}
.navImg {
    width: 25px;
    height: 25px;
}

/* ============================================= */
/*              Dashboard/Search                 */
/* ============================================= */


.dashSearch {
    display: grid;
    grid-template-columns: .2fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    'dashboard search';
    align-items: center;
    margin-bottom: 10px;
}

.dashboard {
    grid-area: dashboard;
    margin-right: 5vw;
}
.dashboardSearch{
    grid-area: search;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: end;
    background-color: $color-dashboard;
    display: flex;
    border-left: solid 1px $color-border;
    border-bottom: solid 1px $color-border;

    input[type='search'] {
        margin-left: auto;
        width: 90%;
        height: 50%;
        align-self: center;
    }
}

.searchBar {
    width: 40%;
    align-self: center;
    flex: 1;
    margin-left: 5vw;

}

/* ============================================= */
/*                 Alert Banner                  */
/* ============================================= */

.alert-banner {
    margin-top: 20px;
    max-width: 95%;
    border: solid 1px #ccc;
    border-radius: 10px;
    display: flex;
    background-color: $color-primary;
}

.alert-banner-text {
    margin: 6px 15px 6px 15px;
    color: $color-main;
    align-self: center;
    flex: 1;
}

.alert-banner-close {
    margin: 6px 15px 6px 15px;
    color: $color-main;

    &:hover{
        cursor: pointer;
        color: $color-alert;
    }
}

.alertB {
    color: $color-main;
}
/* ============================================= */
/*                    Traffic                    */
/* ============================================= */

.trafficNav {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    margin-right: 7%;
    margin-bottom: 2%;
}

.trafficNav-link {
    margin-right: 15px;
    margin-left: 15px;

    &:hover {
        background-color: $color-hover;
        color: $color-main;
        border-radius: 15%;
        padding: 1px 5px;
        cursor: pointer;
    }
}

/* ============================================= */
/*                    Members                    */
/* ============================================= */

.members-container,
.activity-container {
    display: flex;
}

.names,
.activity-text {
    margin-bottom: 0;
}

.members-text,
.activity-text {
    flex-grow: 2;
}


/* ============================================= */
/*                    SVG                        */
/* ============================================= */


.bell {
    align-self: center;
    
    &:hover{
        cursor: pointer;
        transform: scale(.80);
    }
}