/* ============================================= */
/*              MEDIA QUERIES                    */
/* ============================================= */


@media (min-width: 768px) {

 // === BODY === //
	body {
		grid-area: body;
		display: grid;
		grid-template-columns: 65px 1fr;
		
		grid-template-areas:
		'header header'
		'navagation main';
	}
	 // === HEADER AND NAV === //

	header {
		grid-area: header;
		display: grid;
		grid-template-columns: 2fr auto .5fr;
		grid-template-rows: auto;
	}

	nav {
		grid-area: navagation;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.navImg {
		width: 25px;
		height: 25px;
	}

	.imgProfile {
		display: grid;
	  }
	  
	 // === MAIN === //

	  .searchBar {
		margin-left: 55vw;
		margin-right: 3vw;
	}

	.searchBar::after {
		position: absolute;
		right: 87px;
		top: 96px;
	}

	.alert-banner-close {
		margin: 6px 15px 6px 15px;
	}

	.widget-container-full {
		width: 90vw;
	}

	.widget-container-half {
		width: 45vw;
	}

	main {
		display: flex;
		flex-direction: column;
	}

	.twoCollums {
		display: flex;
		flex-grow: 1;
	}

	.dailyTraffic,
	.mobileUser,
	.newMembers,
	.recentActivity,
	.messageUser,
	.settings {
		flex-grow: 1;
	}
}
