/* ============================================= */
/*              MEDIA QUERIES                    */
/* ============================================= */

// ==== FIX COLORS AND NUMBERS ===== //

@media (min-width: 768px) {


	body {
		grid-area: body;
		display: grid;
		grid-template-columns: 55px 1fr;
		
		grid-template-areas:
		'header header'
		'navagation main';
	}
	header {
		grid-area: header;
		display: grid;
		grid-template-columns: 2fr auto .5fr;
		grid-template-rows: auto;
	}

	nav {
		grid-area: navagation;
		display: flex;
		flex-direction: column;
		align-items: baseline;
	}

	.navImg {
		width: 30px;
		height: 30px;
		margin-top: 15px;
		margin-left: 10px;
	}

	.imgProfile {
		display: grid;
	  }

	main {
		grid-template-columns: 1fr;
		grid-template-areas: 
		'dashboard dashboard'
		'traffic traffic'
		'daily trafficc mobile user'
		'social stats social stats'
		'newMembers recent activity'
		'message user settings';
	}

	.traffic {
		grid-area: traffic;
	}

	.socialStats {
		grid-area: social stats;
	}

	.newMembers {
		grid-area: newMembers;
	}

	.recentActivity {
		grid-area: recent activity;
	}

	.messageUser {
		grid-area: message user;
	}

	.settings {
		grid-area: settings;
	}

	.widget-container-full {
		width: 90vw;
	}

	.widget-container-half {
		width: 45vw;
	}


	.socialStats,
	.traffic {
		grid-column: 1 / span 2;
	}

	.newMembers,
	.messageUser,
	.daily {
		grid-column: 1 / span 1;
	}

	.mobileUsers,
	.recentActivity,
	.settings {
		grid-column: 2 / span 1;
	}
}
