/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    font-family: $basefont;
    color: $color-text;
    box-sizing: border-box;
  }

  body {
    background: $color-main;
  }

  html{
    position:relative; 
    min-height: 100%;
  }
  
  p {
    line-height: 1.45em;
  }
  
  footer {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }
  



